# Interfață și manipulare date
streamlit
pandas
numpy
matplotlib

# Control Hardware (Raspberry Pi / LGPIO)
gpiozero
lgpio

# Simulatorul de Anestezie (Instalare directă din GitHub)
python_anesthesia_simulator @ git+https://github.com/ManuMerlo/AReS-Anesthesia-Response-Simulator.git@main#subdirectory=python